body {
  background-color: #ffffff;
}

.body-purple {
  background-color: #99ddff;
}

.navbar-custom {
  background-color: orange;
}

.contact-image {
  width: 150px;
  border-radius: 50%;
}

.contact-image-xl {
  width: 200px;
  border-radius: 50%;
}

/* .border-orange {
  border: solid 3px orange;
}

.border-green {
  border: solid 3px green;
}

.border-purple {
  border: solid 3px purple;
}

.body-grey {
  background-color: #3fd2c7;
} */

.nav {
  display: flex;
  flex-direction: row-reverse;
  padding: 2%;
  background-color: #00458b;
}

.nav > button {
  background-color: #f2f2f2;
  padding: 10px;
  border: none;
  border-radius: 7px;
  margin-right: 23px;
}

#no-underline {
  text-decoration: none;
}

.textcolorblue {
  color: 00458b;
}

.textcustomblue {
  color: #00458b;
}
.textcustomwhite {
  color: white;
}

.btn-danger {
  background-color: #8b0045;
}

.btn-success {
  background-color: #00458b;
}

.card-radius {
  border-radius: 7%;
}

.no-underline {
  text-decoration: none;
}

hr {
  border-color: #8b0045 !important;
  height: 5px !important;
  max-width: 620px !important;
}

/* <h3>Your Circuits</h3>
      <div class="container">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th> Circuit Id</th>
              <th> Meter Id</th>
              <th> Circuit Name</th>
              <th> Is Main Circuit</th>
              <th> Installation Date</th>
            </tr>
          </thead>
          {circuitDetail.map((e) => (
            <tbody>
              <tr>
                <Link to={`../circuit/one/${e.meter_id}/${e.circuit_id}`}>
                  <td> {e.circuit_id} </td>
                </Link>
                <td> {e.meter_id} </td>
                <td> {e.name} </td>
                <td> {e.is_main} </td>
                <td> {e.installation_date} </td>
              </tr>
            </tbody>
          ))}
        </table>
      </div>
    </>
  );
}; */
